{% if content %}
  <div class="container-content">
    {% if content.horizontal_advertising %}
      <div {{
        region_attributes.horizontal_advertising.addClass(
          'horizontal-advertising-general-horizontal'
        )
        }}>
        {{ content.horizontal_advertising }}
      </div>
    {% endif %}
    <div class="content-left-pages">
      {% if content.one_content_title %}
        <div {{
          region_attributes.one_content_title.addClass(
            'one-content-general'
          )
          }}>
          {{ content.one_content_title }}
        </div>
      {% endif %}
      {% if content.two_content %}
        <div {{
          region_attributes.two_content.addClass(
            'two-content-general'
          )
          }}>
          {{ content.two_content }}
        </div>
      {% endif %}
    </div>
    <div class="content-right-pages">
      <div class="pautas">
        {% if content.one_vertical_advertising %}
                <div {{
          region_attributes.region_attributes.one_vertical_advertising.addClass(
            'one-vertical-advertising'
          )
          }}>
          {{ content.one_vertical_advertising }}
        </div>
        {% endif %}
        {% if content.two_vertical_advertising %}
                <div {{
          region_attributes.region_attributes.two_vertical_advertising.addClass(
            'two-vertical-advertising'
          )
          }}>
          {{ content.two_vertical_advertising }}
          {% endif %}
      </div>
    </div>
  </div>
{% endif %}
